
/*************************************************************************************************** DEFAULT STYLES */
.page{
    justify-content: center;
    /* max-width: 1795px; */
}

.wrapper{
    padding: 5rem;
    max-width: 72rem;
    margin-bottom: 1rem;

    /* max-height: 56.25rem; */
    /* height: 100%; */
    /* height: 56.25rem; */
}

/*************************************************************************************************** SPLASH PAGE */
.splash{
    max-height: 56.25rem;
    height: 56.25rem;

    background: url(../img/splash/Splash_L.jpg);
    background-position: 55% center;
    background-size: cover;
    background-repeat: no-repeat;
}

.splash_wrap{
    justify-content: center;

    background: none;
    max-width: 80rem;
    height: 56.25rem;
    padding: 3rem 8rem;
}

.welcome_box{
    width: 23rem;
    height: 100%;
}

.welcome_header h1{
    line-height: 5rem;
}

.welcome_text{
    margin: 3rem 0;
    line-height: 3rem;
}

/*************************************************************************************************** ABOUT PAGE */

/*************************************************************************************************** PACKAGES PAGE */

.packages{
    max-height: 56.25rem;
    height: 56.25rem;
}

.custom_selected{
    background-image: url(../img/packages/desktop/custom_L.jpg);
    background-position: 80% center;
}
.basic_selected{
    background-image: url(../img/packages/desktop/basic_L.jpg);
    background-position: 30% center;
}
.premium_selected{
    background-image: url(../img/packages/desktop/premium_L.jpg);
    background-position: 30% center;
}

/*************************************************************************************************** SERVICES PAGE */
.services{
    max-height: 56.25rem;
    height: 56.25rem;

    background-image: url(../img/services/services_L.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.services_list{
    margin-top: 3rem;
}

/**************************************************************************************************** ABOUTME PAGE */
.aboutme{
    background-image: url(../img/aboutme/headshot_L.jpg);
    background-size: cover;
    background-position: 70% center;

    height: 900px;
}

/**************************************************************************************************** CONTACT PAGE */
.contact{
    /* background-image: url(../img/contact/headshot2_L.jpg); */

    /* height: 900px; */
}

.contact_content{
    /* margin: 13rem 0 0 30rem; */
}