
/*************************************************************************************************** DEFAULT STYLES */
.wrapper{
    padding: 3rem;
    max-width: 72rem;
    margin-bottom: 1rem;
}

/*************************************************************************************************** SPLASH PAGE */
.splash{
    height: 50rem;
    max-height: 50rem;

    background: url(../img/splash/Splash_L.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.splash_wrap{
    background: none;
    max-width: 80rem;
    padding: 3rem 6rem;
}

.welcome_box{
    width: 23rem;
}

.welcome_header h1{
    line-height: 5rem;
}

.welcome_text{
    margin: 3rem 0;
    line-height: 3rem;
}

/*************************************************************************************************** ABOUT PAGE */

/*************************************************************************************************** SERVICES PAGE */

/*************************************************************************************************** PACKAGES PAGE */

.packages_wrap{
    border-radius: 10px;
}