:root{
    --display_size: 4rem;
    /* --header_size: 2rem; */
    /* --subheader_size: 8rem; */
    /* --body_size: 1.2rem; */
}

/*************************************************************************************************** DEFAULT STYLES */
.hamburger{
    display: none;
}

.nav{
    justify-content: center;
    padding: 1rem;
}
.nav_link{
    display: inline-block;
    line-height: 2;
    padding: 0 .5rem;

    font-family: var(--light_font);
}
.nav_load-bar{
    display: none;
}

/*************************************************************************************************** SPLASH PAGE */
.splash{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0;
    height: 40rem;

    background: url(../img/splash/splash.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome_box{
    justify-content: flex-start;
    align-items: flex-end;

    height: 100%;
    padding: 8rem 4rem;

    background: linear-gradient(90deg, rgba(242,242,242,0) 0%, rgba(242,242,242,.95) 30%);
    /* background: none; */
}
.welcome_box_content-wrap{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 100%;
    width: 20rem;
}
.welcome_header{
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;

    height: auto;
}
.welcome_header h1{
    justify-self: flex-start;
    display: inline-block;
    justify-content: flex-start;
    align-items: flex-start;

    letter-spacing: .1rem;
    line-height: 4.5rem;
}
.welcome_header h2{
    display: inline;

    font-family: var(--header_font);
    font-size: var(--subheader_size);
    line-height: 1.5rem;

    margin: 0;
}
.welcome_text{
    display: inline-block;

    font-family: var(--subheader_font);
    text-align: left;
    line-height: 2.5rem;
}
.welcome_text_mobile{
    display: none;
}
.welcome_link{
    display: block;
    color: var(--grey);
    text-decoration: none;

    padding: .2rem 0;
    width: max-content;

    font-family: var(--subheader_font);
    text-align: left;
    border-bottom: 1px solid var(--grey);

    cursor: pointer;
}
.welcome_link{
    color: var(--grey);
}
.welcome_logo{
    display: none;
}

/*************************************************************************************************** ABOUT PAGE */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5rem 4rem;
    min-height: 35rem;
}

.about_text{
    max-width: 53rem;
}
.about_header{
    margin-bottom: 0;
    /* text-align: center; */
}
.about_body{
    font-family: var(--subheader_font);
    line-height: 3rem;

    padding-top: 1.5rem;
}

/*************************************************************************************************** SERVICES PAGE */
.services{
    padding: 0;
    background: url(../img/services/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.services_content_wrap{
    padding: 1rem 4rem;
    background: none;
    box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,0.75);

    /* background: rgba(242,242,242, .2) */
}
.services_nav{
    display: none;
}

.services_header{
    display: block;
    font-family: var(--header_font);
    font-size: 2.7rem;
    text-align: center;
    letter-spacing: .05rem;
    color: var(--white);

    margin: 2rem 0 .5rem 0;
}
.services_list{
    grid-template-columns: minmax(10rem, 17rem) minmax(10rem, 17rem) minmax(10rem, 17rem);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    margin: 2rem 0;
}
.service{
    padding: 1.5rem;

    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
    background-color: rgba(242,242,242, .9);
    border-radius: 3px;
}
.service_title{
    justify-content: center;

    line-height: 2rem;
    font-family: var(--header_font);
    font-size: var(--subheader_size);
    color: black;
    text-align: center;

    border-bottom: none;
    cursor: auto;
}
.services_text{
    text-align: center;
    font-family: var(--subheader_medium_font);
    font-size: 1.2rem;
    margin-top: 0;
    color: var(--white);
}
.service_plus {
    display: none;
}
.service_desc{
    max-height: 15rem;
    padding: 0;
    margin-top: .5rem;
}
.service_desc_text{
    font-family: var(--subheader_font);
    text-align: center;
    line-height: 2rem;
    margin: .5rem;
}

/*************************************************************************************************** PACKAGES PAGE */
.packages{
    padding: 7rem 4rem;
}

.packages_nav{
    display: none;
}

.package_container{
    display: grid;
    grid-template-columns: minmax(40rem, 53rem);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    grid-gap: 1rem;

    height: auto;
    margin: 0;
}

.package_title{
    font-family: var(--header_font);
}
.package_text{
    line-height: 1.8rem;
}

.custom{
    top: auto;
    background: none;
    background-color: var(--orange);
    background: url(../img/packages/tablet/custom_bg.jpg);
}
.basic{
    top: auto;
    background: none;
    background-color: var(--mid-red);
    background: url(../img/packages/tablet/basic_bg.jpg);
}
.premium{
    top: auto;
    background: none;
    background-color: var(--brick-red);
    background: url(../img/packages/tablet/premium_bg.jpg);
}

.package{
    position: static;

    max-width: 53rem;
    height: auto;
    padding: 3rem;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
    border-radius: 3px;

    cursor: auto;
}

/**************************************************************************************************** CONTACT PAGE */
.contact_nav{
    display: none;
}

/*************************************************************************************************** OVERRIDES */
.selected{
    border-bottom: 1px solid var(--grey);
}