:root{
    --display_size: 4rem;
    --nav_size: 1.2rem;
}

/*************************************************************************************************** DEFAULT STYLES */
.wrapper{
    max-width: 75rem;
    padding: 3rem 4rem;
}

.hamburger{
    display: none;
}

.nav{
    padding: 1rem;
}
.nav_wrap{
    justify-content: center;

    max-width: 100%;
    padding: 0;
}
.nav_link{
    display: inline-block;
    line-height: 2;
    padding: 0 .5rem;

    font-family: var(--display_font);
    color: var(--grey);
}
.nav_link:visited{
    color: var(--grey);
}
.nav_load-bar{
    display: none;
}

.header{
    margin: 0 0 1rem 0;

    font-family: var(--display_font);
    font-size: var(--header_size);
    line-height: 2rem;
}

/*************************************************************************************************** SPLASH PAGE */
.splash{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0;
    height: 40rem;

    background: url(../img/splash/splash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.splash_wrap{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    height: 100%;

    /* background: linear-gradient(90deg, rgba(242,242,242,0) 0%, rgba(242,242,242,.95) 80%); */
}

.welcome_box{
    justify-content: center;
    align-items: flex-start;

    height: 100%;
    width: 20rem;
    padding: 0;

    background: none;
    box-shadow: none;
}
.welcome_header{
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;

    height: auto;
}
.welcome_header h1{
    justify-self: flex-start;
    display: inline-block;
    justify-content: flex-start;
    align-items: flex-start;

    letter-spacing: .1rem;
    line-height: 4.5rem;
}
.welcome_header h2{
    display: inline;

    font-family: var(--body_font);
    font-size: var(--header_size);
    line-height: 1.5rem;

    margin: 0;
}
.welcome_text{
    display: inline-block;

    font-family: var(--body_font);
    text-align: left;
    line-height: 2.5rem;
}
.welcome_text_mobile{
    display: none;
}
.welcome_link{
    display: block;
    text-decoration: none;

    padding: .2rem 0;
    width: max-content;

    font-family: var(--body_font);
    font-size: var(--body_size);
    text-align: left;
    color: var(--grey);

    border-bottom: .3px solid var(--grey);
    cursor: pointer;
}
.welcome_logo{
    display: none;
}
.logo_full{
    /* display: block; */
    width: 8rem;
}

/*************************************************************************************************** ABOUT PAGE */

.about{
    justify-content: center;
    min-height: 35rem;
}

.about_wrap{
    margin: 5rem 0 0 0;
}

.about_header{
    margin-bottom: 0;
}
.about_body{
    line-height: 3.5rem;
    padding-top: 0;
}

/*************************************************************************************************** PACKAGES PAGE */
.packages_nav{
    display: none;
}

.packages_wrap{
    background: url(../img/packages/desktop/custom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;

    height: auto;
    margin: 0;

    transition: .5s;
}

.packages_header{
    display: block;
    font-size: 2.5rem;
    letter-spacing: .05rem;
    color: var(--grey);
}
.packages_text{
    color: var(--grey);
    font-family: var(--display_font);

    margin: 0 0 2rem 0;
    max-width: 33rem;
}

.package_list{
    display: grid;
    grid-template-columns: repeat(3, 22rem);
    grid-gap: .5rem;
    
    width: 22rem;
    overflow: hidden;
}

.package{
    position: static;
    top: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr .6fr;
    grid-gap: 1rem;

    height: auto;
    max-height: 27.5rem;
    width: 22rem;
    padding: 1rem 2rem 2rem 2rem;

    background: none;
    background-color: var(--white_transparent);
    border-radius: 10px;

    cursor: auto;
    transform: translateX(0rem);
}

.package_header{
    align-items: flex-end;
    grid-column: span 2;

    padding: 1rem 0;
    border-bottom: 1px solid var(--grey);

    cursor: auto;
}
.package_title{
    color: var(--grey);
    font-size: var(--header_size);
    margin: 0;
    line-height: 2rem;
}
.package_price{
    color: var(--grey);
    font-size: var(--body_size);
    margin: 0;
}

.package_wrap{
    grid-column: span 2;
}
.package_desc{

    list-style-type: none;
    padding-left: 0;

    max-height: 100rem;
    overflow: hidden;

    transition: .3s;
    transition-timing-function: ease-in-out;
}
.package_desc_summary{
    color: var(--grey);
    margin: 0 0 .5rem 0;
    line-height: 2rem;

}
.package_desc_text{
    margin: 0;
    margin-left: 30px;

    line-height: 2.2rem;
    color: var(--grey);
}
.package_desc_text::before {
    content: "- ";
    margin-left: -15px;

}
.package_button{
    display: inline;

    font-family: var(--body_font);
    font-size: var(--body_size);
    color: var(--grey);
    line-height: 2rem;

    width: max-content;
    padding: .5rem .5rem 0 0;

    border-bottom: .3px solid var(--grey);
    cursor: pointer;
}

.package_arrows{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.arrow-left, .arrow-right{
    height: 0;
    width: 0;
    margin: .5rem;

    border-top: .7rem solid transparent;
    border-bottom: .7rem solid transparent;

    cursor: pointer;
}
.arrow-left{
    border-right: .8rem solid var(--grey);
}
.arrow-right{
    border-left: .8rem solid var(--grey);
}
/*************************************************************************************************** SERVICES PAGE */
.services{
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.services_nav{
    display: none;
}

.services_header{
    display: block;
    color: var(--grey);
    letter-spacing: .05rem;
}
.services_text{
    font-size: var(--body_size);
    margin: 0;
}

.services_list{
    position: relative;

    grid-template-columns: repeat(3, minmax(14rem, 17rem));
    grid-template-rows: repeat(2, minmax(14rem, 17rem));
    grid-gap: 1rem;
    justify-content: start;

    margin: 2rem 0;
    padding: 0;
}
.basic_plan, .premium_plan, .custom_plan{
    display: flex;
    justify-content: flex-start;
}

.line-break{
    grid-column: span 3;
    border-bottom: 1px solid var(--grey);
}

.service{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    justify-items: center;
    align-items: center;

    padding: 3rem 1rem;
    /* margin: 0 20px 20px 0; */

    min-height: 100%;
    min-width: 100%;

    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    background: none;
    border:1px dashed var(--blue);
    border-radius: 10px;

    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}
.service:hover{
    transition: .1s;
    /* box-shadow: -3px 3px 5px 1px rgba(0,0,0,0.15); */
    border: none;
    background-color: var(--blue);
    /* transform: translate(3px, -3px); */
}
.service:hover .service_img{
    transition: .1s;
    fill: var(--white);
}
.service:hover .service_title{
    transition: .1s;
    color: var(--white);
}

.events, .assistant{
    border: 1px dashed var(--brick_red);
    transition: .3s;
}
.events:hover, .assistant:hover{
    background-color: var(--brick_red);
}
.events .service_img, .assistant .service_img{
    fill: var(--brick_red);
    transition: .3s;
}
.events .service_title, .assistant .service_title{
    color: var(--brick_red);
    transition: .3s;
}

.final{
    display: block;

    color: var(--grey);
    /* background-color: rgb(81,197,101); */
    max-width: 100%;
    min-width: 100%;
    max-height: 9rem;
    min-height: 9rem;
}

.service_img{
    display: block;
    width: 7rem;    
    fill: var(--blue);
    transition: .3s;
}
.service_title{
    justify-content: center;

    line-height: 2rem;
    text-align: center;
    color: var(--blue);
    font-size: var(--body_size);

    padding: 0;
    transition: .3s;
}
.final .service_title{
    color: var(--grey);
}

.service_plus {
    display: none;
}

.service_desc{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem;
    width: 100%;
    height: 100%;
    max-height: 50rem;

    background-color: var(--blue);
    border-radius: 10px;
    /* box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2); */

    opacity: 0;
    pointer-events: none;
}

.events .service_desc, .assistant .service_desc{
    background-color: var(--brick_red);
}
.service_desc_text{
    line-height: 2.5rem;
    color: var(--white);

    margin: .5rem;
}

/**************************************************************************************************** CONTACT PAGE */
.contact{
    height: 100rem;
}

.contact_nav{
    display: none;
}

/*************************************************************************************************** OVERRIDES */
.selected{
    border-bottom: 1px solid var(--brick_red);
}

.open{
    /* border-top: none; */
    opacity: 1;
    pointer-events: visible;
}