/* TABLE OF CONTENTS (line numbers may be inaccurate)
 *
 * DEFAULT STYLES................... 61
 *
 * SPLASH PAGE...................... 98
 *      hamburger menu
 *
 * ABOUT PAGE....................... 162
 *      hamburger menu
 *      nav
 *
 * OVERRIDES........................ 307
 *
 *
 * Z-INDEX SCALE
 * 
 * 0 - background content
 * 100 - page content
 * 1000 - foreground content
 */

 *{
     box-sizing: border-box;
 }

:root{
    --blue: #dd9668;
    --blue_transparent: rgba(82,141,173,.9);
    --green: #758c7a;
    --yellow: #E6A53E;
    --red: #c97256;
    --white: rgba(242,242,242,1);
    --light_grey: rgb(107, 107, 107);
    --grey: rgb(82, 82, 82);

    --header_font: "Halant";
    --subheader_font: "Halant-light";
    --body_font: "Josefin-sans-medium";
    --light_font: "Josefin-sans-light";

    --header_font_size: 3rem;
    --subheader_font_size: 2rem;
    --body_font_size: 1.1rem;
}

@font-face{
    font-family: "Halant";
    src: url(../font/Halant-Regular.ttf);
}
@font-face{
    font-family: "Halant-light";
    src: url(../font/Halant-Light.ttf);
}
@font-face{
    font-family: "Josefin-sans-light";
    src: url(../font/JosefinSans-VariableFont_wght.ttf);
    font-weight: 100;
}
@font-face{
    font-family: "Josefin-sans-medium";
    src: url(../font/JosefinSans-VariableFont_wght.ttf);
    font-wieght: 200;
}

body{
    margin: 0;
    padding: 0;
}

/*************************************************************************************************** DEFAULT STYLES */
.page{
    position: relative;
    width: 100%;
}

.line{
    width: 100%;
    height: .25rem;
    border-radius: 5px;
    background-color: black;
}

.nav{
    display: flex;
    align-items: flex-end;

    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;

    width: 100%;
    padding: 2rem 0 1rem 2rem;

    background-color: var(--white);
    overflow: hidden;
    z-index: 1000;
}
.nav_link{
    display: none;
    text-decoration: none;

    font-family: var(--body_font);
    font-size: var(--body_font_size);
    line-height: .5rem;
    color: black;

    margin: 0 1.1rem;
}
.nav_link:visited{
    color: black;
}

.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 1.5rem;
    height: 1.5rem;

    margin: 0;
}

.nav_load-bar{
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 100%;

    border-top: 2px solid var(--blue);
}

/*************************************************************************************************** SPLASH PAGE */
.splash{
    background: url(../img/splash_mobile.jpg);
    background-size: cover;
    background-position: center;
}

.welcome_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    max-height: 40rem;
    padding: 5rem 2rem;

    background: rgb(242,242,242);
    background: linear-gradient(45deg, rgba(242,242,242,1) 0%, rgba(242,242,242,0.75) 100%);

    color: var(--grey);
    text-align: center;
}
.welcome_header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 15rem;
    width: 100%;
}
.welcome_header h1{
    font-family: var(--light_font);
    font-size: var(--header_font_size);
    line-height: 4rem;
    letter-spacing: .4rem;

    border-bottom: 1px solid var(--grey);

    margin: 0;
}
.welcome_header h2{
    display: none;
}
.welcome_text, .welcome_text_mobile{
    font-family: var(--body_font);
    font-size: var(--body_font_size);
    line-height: 2;
}
.welcome_text{
    display: none;
}
.welcome_link{
    display: none;
}
.welcome_logo{
    width: 7.25rem;
}

/*************************************************************************************************** ABOUT PAGE */

.about{
    background-color: var(--white);
    padding: 5rem 2rem;
    color: var(--grey);
}

.about_header{
    font-family: var(--header_font);
    font-size: var(--subheader_font_size);
}
.about_body{
    font-family: var(--body_font);
    line-height: 2.2em;
    font-size: 1.1rem;

    padding-top: 1rem;
}

/*************************************************************************************************** SERVICES PAGE */
.services{
    background: url(../img/services_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.services_content_wrap{
    padding: 5rem 2rem 2rem 2rem;

    background: rgb(242,242,242);
    background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(242,242,242,0.9) 50%, rgba(242,242,242,1) 100%);

    z-index: 0;
}

.services_header{
    display: none;
}
.services_text{
    font-family: var(--header_font);
    font-size: var(--body_font_size);
    line-height: 2.2rem;
    color: var(--grey);

    margin: 1rem 0;
    z-index: 100;
}

.services_list{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 1rem;
    justify-content: center;

    padding-bottom: 2rem;
    z-index: 100;
}
.service_title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--body_font);
    font-size: var(--body_font_size);
    color: var(--grey);
    line-height: .5rem;

    width: 100%;
    height: 4rem;
    padding: 1rem .5rem 1rem 0;
    margin: 0;
    
    border-bottom: 1px solid var(--grey);
    cursor: pointer;
}
.service_desc{
    max-height: 0;

    padding: 0 1rem;
    overflow: hidden;

    transition: .2s;
    transition-timing-function: ease-out;
}
.service_desc_text{
    font-family: var(--body_font);
    color: var(--grey);
    line-height: 2rem;
    margin: 1rem 0;
}

/**************************************************************************************************** PACKAGES PAGE */

.packages{
    background-color: var(--white);
    padding: 5rem 2rem;
    overflow: hidden;
}

.package_container{
    position: relative;

    width: 100%;
    height: 26rem;
    margin: 2rem 0 7rem 0;
}

.package_title{
    color: var(--white);
    font-family: var(--light_font);
    font-size: var(--subheader_font_size);
    
    margin: 0 0 2rem 0;
}
.package_text{
    color: var(--white);
    font-family: var(--subheader_font);
    font-size: var(--body_font_size);
    line-height: 2.1rem;

    margin: 0;
}

.custom{
    top: 0;
    background-color: var(--green);
    background: url(../img/packages/mobile/custom_bg.jpg);
    box-shadow: none;
}
.basic{
    top: 5rem;
    background-color: var(--blue);
    background: url(../img/packages/mobile/basic_bg.jpg);
}
.premium{
    top: 10rem;
    background-color: var(--red);
    background: url(../img/packages/mobile/premium_bg.jpg);
}

.package{
    position: absolute;

    width: 100%;
    max-width: 27.25rem;
    height: 100%;
    padding: 1.5rem 1rem;

    border-radius: 7px;
    box-shadow: 0px -3px 3px -1px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position: center;

    z-index: 100;
    transition: .2s;
    cursor: pointer;
}

/**************************************************************************************************** CONTACT PAGE */



/*************************************************************************************************** OVERRIDES */
.selected{
    display: block;
}
.fixed{
    position: fixed;
    top: 0;
    bottom: auto;
}
.bottom{
    position: absolute;
    top: auto;
    bottom: 0;
}
.open{
    max-height: 15rem;
}

.package_clicked{
    transform: translateY(23rem)
}